@keyframes appear {
  from {
    opacity: 0;
    scale: 0.4;
  }

  to {
    opacity: 1;
    scale: 1;
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

#aboutPage {
  background: linear-gradient(rgba(4, 20, 250, 0.296), rgba(6, 22, 249, 0.285)),
    url("../images/aboutPage/aboutpage.png");
  background-size: cover;
  background-position: center;
  height: 80vh;
  @extend .padding-ri-le;
  padding-top: 50px;
  @include table {
    height: 50vh;
  }
  .navbar-about {
    @extend .flex-sp-bet;
    .material-symbols-outlined {
      opacity: 0;
      @include table {
        color: $white;
        opacity: 1;
        position: absolute;
        top: 22px;
        right: 20px;
        font-size: 2rem;
      }
    }
    img {
      width: 150px;
      @extend .flex;
      @include table {
        width: 100px;
        position: absolute;
        top: 14px;
        left: 20px;
      }
    }
    ul {
      @extend .flex;
      list-style: none;
      gap: 10px;
      @include laptop {
        font-size: 0.8rem;
      }
      @include table {
        display: none;
      }
      #aboutContent {
        color: $primary;
      }
      a {
        text-decoration: none;
        color: $white;
      }
      a:hover {
        color: $primary;
      }
      #sign {
        @extend .btn;
        a {
          color: $white;
        }
      }
      #home {
        color: $primary;
      }
    }
  }
  #aboutus {
    font-size: 56px;
    @extend .flex;

    @include table {
      font-size: 40px;
    }
    @include mobile {
      font-size: 30px;
      margin-top: 100px
    }
  }
  #hook {
    @extend .flex;

    @include table {
      font-size: 16px;
    }
    @include mobile {
      font-size: 14px;
    }
  }
}

.about-main {
  .about-content-important-travel {
    @extend .flex;
    padding-top: 50px;
    padding-bottom: 50px;
    flex-wrap: wrap;
    gap: 20px;
    @include table {
      padding-top: 50px;
      display: flow-root;
      padding-bottom: 20px;
      padding-top: 20px;
    }

    @include mobile {
      @extend .flex;
      flex-wrap: wrap;
      gap: 50px;
    }
    img {
      width: 600px;
      border-bottom-left-radius: 200px;
      border-top-left-radius: 200px;
      @extend .animation;
      @include table {
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
        width: 280px;
        float: left;
        shape-outside: inset(-100px);
      }
      @include mobile {
        width: 350px;
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
        float: none;
        shape-outside: none;
      }
    }

    .about-text-important-travel {
      h1 {
        flex-wrap: wrap;
        @extend .animation;
        color: $main-color;
        padding-bottom: 24px;
        span {
          color: $primary;
        }
        @include table {
          font-size: 24px;
          padding-bottom: 20px;
          padding-left: 300px;
        }
        @include mobile {
          font-size: 16px;
          flex-wrap: wrap;
          @extend .animation;
          color: $main-color;
          padding-bottom: 10px;
          padding-top: 8px;
          padding-left: 0px;
        }
      }

      p {
        flex-wrap: wrap;
        @extend .animation;
        padding-bottom: 24px;
        width: 700px;
        text-align: justify;
        font-size: 18px;
        @include table {
          font-size: 12px;
          width: 100%;
          padding-bottom: 10px;
          padding-left: 300px;
        }
        @include mobile {
          padding-left: 0px;
          font-size: 10px;
          padding-bottom: 5px;
        }
      }
      #bottom {
        @include table {
          padding-left: 0px;
          padding-top: 10px;
        }
        @include mobile {
          padding-top: 0px;
        }
      }
    }
  }
  .why-should-we-go {
    background: linear-gradient(
        rgba(174, 170, 170, 0.627),
        rgba(147, 147, 147, 0.558)
      ),
      url("../images/aboutPage/Group 83.png");
    background-size: cover;
    background-position: center;
    height: 60vh;
    @extend .flex;
    @extend .animation;

    @include table {
      height: 32vh;
    }

    @include mobile{
      height: 40vh;
    }

    .why-should-we-go-text {
      text-align: center;
      width: 60%;
      @include table {
        width: 90%;
      }

      h1 {
        @extend .animation;
        color: $white;
        padding-bottom: 20px;
        span {
          color: $primary;
        }
        @include table {
          padding-bottom: 10px;
        }

        @include mobile {
          font-size: 16px;
          color: $main-color;
          padding-bottom: 5px;
        }
      }
      p {
        color: $white;
        @extend .animation;
        padding-bottom: 20px;
        font-weight: 300;
        flex-wrap: wrap;
        @include table {
          font-size: 12px;
          padding-bottom: 10px;
        }

        @include mobile {
          font-size: 10px;
          color: rgb(18, 18, 18);
          font-weight: 500;
        }
      }
      .seeMore {
        @include mobile{
          display: none;
        }
      }
    }
  }
  .about-partner-with-us {
    background-color: $bg-color-partner;
    margin: 100px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom-left-radius: 240px;
    border-top-right-radius: 240px;
    @extend .animation;

    @include table {
      margin: 72px 0px;
      border-bottom-left-radius: 100px;
      border-top-right-radius: 100px;
    }
    @include mobile{
      margin: 40px 0px ;
      border-bottom-left-radius: 0px;
      border-top-right-radius: 0px;
      flex-direction: column;
      
    }
    .about-text-partner-with-us {
      text-align: center;

      h1 {
        color: $white;
        padding-bottom: 20px;
        @include table {
          font-size: 20px;
        }
        @include mobile{
          padding-bottom:10px;
          padding-top: 10px;
          font-weight: 400;
          font-size: 16px;
        }
      }
      p {
        color: $white;
        padding: 0px 100px;
        font-size: 18px;
        font-weight: 300;
        flex-wrap: wrap;
        @include table {
          padding: 0px 40px;
          font-size: 12px;
        }
        @include mobile{
          font-size: 10px;
          padding-bottom: 10px;
        }
      }
    }
    .about-img-partner-with-us {
      img {
        width: 680px;
        height: auto;
        border-top-right-radius: 240px;
        @include table {
          width: 364px;
          border-top-right-radius: 100px;
        }
        @include mobile{
          width:350px ;
          border-top-right-radius: 0px;
        }
      }
    }
  }
  .hotel-partners {
    display: flex;
    gap: 50px;
    padding-bottom: 50px;
    border-bottom: solid 1px rgba(199, 199, 199, 0.725);
    @include table {
      gap: 20px;
      padding-bottom: 25px;
    }
    @include mobile{
      flex-direction: column;
      padding-bottom: 15px;
      
    }
    .text-hotel-partners {
      width: 30%;
      @include table {
        width: 40%;
      }

      @include mobile{
        width: 100%;
      }
      h1 {
        color: $main-color;
        padding-bottom: 20px;
        @extend .animation;

        @include table {
          font-size: 20px;
          padding-bottom: 10px;
        }

        @include mobile{
          font-size: 16px;
        }
      }
      .sub-paragram {
        font-size: 14px;
        color: gray;
        padding-bottom: 10px;
        @extend .animation;

        @include table {
          font-size: 10px;
        }
        @include mobile{
          font-size: 8px;
          
        }
      }
      p {
        font-size: 18px;
        @extend .animation;

        @include table {
          font-size: 12px;
        }
        @include mobile{
          font-size: 10px;
        }
      }
    }
    .img-hotel-partners {
      width: 70%;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      @include table {
        width: 70%;
      }

      @include mobile{
        width: 100%;
      }
      img {
        width: 190px;
        padding-right: 40px;
        @extend .animation;

        @include table {
          width: 100px;
          padding-right: 20px;
        }
        @include mobile{
          width: 100px;
          padding-right: 14px;
        }
      }
    }
  }

  .payment-partners {
    display: flex;
    gap: 50px;
    padding-bottom: 50px;
    padding-top: 50px;
    border-bottom: solid 1px rgba(199, 199, 199, 0.725);
    @include table {
      gap: 20px;
      padding-bottom: 25px;
      padding-top: 25px;
    }
    @include mobile {
      gap: 10px;
      flex-direction:  column;
      padding-top: 15px;
      padding-bottom: 15px;
    }
    .text-payment-partners {
      width: 30%;
      @include table {
        width: 40%;
      }
      @include mobile{
        width: 100%;
      }
      h1 {
        color: $main-color;
        padding-bottom: 20px;
        @extend .animation;

        @include table {
          font-size: 20px;
          padding-bottom: 10px;
        }
        @include mobile{
          font-size: 16px;
        }
      }
      p {
        font-size: 18px;
        @extend .animation;
        width: 95%;

        @include table {
          font-size: 12px;
        }
        @include mobile{
          font-size: 10px;
        }
      }
    }
    .img-payment-partners {
      width: 70%;
      display: flex;
      align-items: center;
      @include table {
        width: 60%;
      }
      @include mobile{
        width: 100%;
      }
      img {
        width: 150px;
        padding-right: 40px;
        @extend .animation;

        @include table {
          width: 100px;
          padding-right: 20px;
        }

        @include mobile{
          width: 60px;
        }
      }
    }
  }

  .online-hotel-booking {
    padding-bottom: 50px;
    padding-top: 50px;
    @include table {
      padding: 25px 0px;
    }
    h1 {
      text-align: center;
      padding-bottom: 40px;
      color: $main-color;
      @extend .animation;

      @include table {
        font-size: 20px;
        padding-bottom: 20px;
      }

      @include mobile{
        font-size: 16px;
        padding-bottom: 10px;
      }
    }
    .sub-hotel-booking {
      text-align: center;
      padding-bottom: 40px;
      @extend .animation;

      @include table {
        padding-bottom: 20px;
        font-size: 12px;
      }
      @include mobile{
        font-size: 10px;
        padding-bottom: 10px;
      }
    }
    .text-hotel-booking {
      text-align: center;
      font-size: 18px;
      padding-bottom: 80px;
      @extend .animation;

      @include table {
        padding-bottom: 20px;
        font-size: 12px;
      }

      @include mobile{
        font-size: 10px;
        text-align: justify;
      }
    }
    .show-more {
      color: $sub-color;
      text-align: center;
      @extend .animation;

      @include table {
        font-size: 12px;
      }
    }
  }

  .download {
    text-align: center;
    img {
      width: 1000px;
      @extend .animation;

      @include table {
        width: 730px;
      }
      @include mobile{
        width: 350px;
      }
    }
  }
}
