@import "color";
@import "style3in1";
@import "media-queries";

header {
  background: linear-gradient(rgba(4, 20, 250, 0.5), rgba(6, 23, 249, 0.5)),
    url("../images/welcome-home.png");
  background-size: cover;
  background-position: top center;
  height: 80vh;
  @extend .padding-ri-le;
  .navbar {
    @extend .flex-sp-bet;
    .material-symbols-outlined{
        opacity: 0;
        @include table {
            color: $white;
            opacity: 1;
            position: absolute;
            top: 22px;
            right: 20px;
            font-size: 2rem;
        }
    }
    img {
      width: 150px;
      @extend .flex;
      @include table {
        width: 100px;
        position: absolute;
        top: 14px;
        left: 20px;
      }
    }
    ul {
      @extend .flex;
      list-style: none;
      gap: 10px;
      @include laptop{
        font-size: 0.8rem;
      }
      @include table{
        display: none;
      }
      a {
        text-decoration: none;
        color: $white;
      }
      a:hover {
        color: $primary;
      }
      #sign {
        @extend .btn;
        a {
          color: $white;
        }
      }
      #home{
        color: $primary;
      }
    }
  }
  h1{
    margin-top: 200px;
    font-size: 40px;
    color: $white;
    span{
      color: $primary;
    }
    @include table{
      font-size: 32px;
    }
  }
  p{
    color: $white;
    font-weight: 300;
    span{
      color: $primary;
      font-weight: 600;
    }
  }
  .socil{
    margin-top: 10px;
    a{
      .bx{
        color:$white;
        font-size: 24px;
      }
      .bx:hover{
      color:$hover-color;
    }
    }
  }
  button{
    @extend .btn2;
    margin: 10px 0px;
    border: solid 2px $primary;
    color: $primary;
    background: none;

  }
  button:hover{
    background: $primary;
    color: $white;
  }
  @include table{
      padding: 0px 20px;
      height: 60vh;
    }
}
