
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-sp-bet {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.padding-ri-le {
  padding: 0px 100px;
}
.padding-top-bottom {
  padding: 100px 0px;
}

.btn {
  padding: 10px 20px;
  background: $secondary;
  border-radius: 8px;
}
.btn-table {
  padding: 5px 10px;
  background: $secondary;
  border-radius: 4px;
}
.btn2 {
  padding: 10px 20px;
  background: $primary;
  border-radius: 8px;
}

.animation {
  animation: appear 1.5s ease-out;
  animation-timeline: view();
  animation-range: entry 0% cover 50%;
}

.places-style {
  background-size: cover;
  background-position: center;
  width: 180px;
  height: 180px;
  color: $white;
  font-size: 14px;
  font-weight: bold;
  border-radius: 10px;
}
