@import "components/navbar";
@import "components/home";
@import "components/footer";
@import "components/aboutPage";
@import "components/hotelPage";
@import "components/customerPage";




* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
body{
    background-color: #F2F6FF;
}