.flex, footer .footer-main .travel-destination, footer .footer-main .logo-footer, main .total-price .price, main .partners .all-partner, main .content .promotion, header .navbar ul, header .navbar img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-sp-bet, header .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.padding-ri-le, main, header {
  padding: 0px 100px;
}

.btn, main .content .popular-restaurant .but #phnom, main .content .popular-restaurant .but #siem, header .navbar ul #sign {
  padding: 10px 20px;
  background: #0050FF;
  border-radius: 8px;
}

.btn-table {
  padding: 5px 10px;
  background: #0050FF;
  border-radius: 4px;
}

.btn2, header button {
  padding: 10px 20px;
  background: #FF8C00;
  border-radius: 8px;
}

.animation, main .total-price .price .price-1, main .total-price .total-text, main .content .popular-restaurant .cards-rest-all .cards-rest, main .content .card-pro .cards {
  animation: appear 5s linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

header {
  background: linear-gradient(rgba(4, 20, 250, 0.5), rgba(6, 23, 249, 0.5)), url("../images/welcome-home.png");
  background-size: cover;
  background-position: top center;
  height: 80vh;
}
header .navbar .material-symbols-outlined {
  opacity: 0;
}
@media screen and (max-width: 768px) {
  header .navbar .material-symbols-outlined {
    color: #FFFFFF;
    opacity: 1;
    position: absolute;
    top: 22px;
    right: 20px;
    font-size: 2rem;
  }
}
header .navbar img {
  width: 150px;
}
@media screen and (max-width: 768px) {
  header .navbar img {
    width: 100px;
    position: absolute;
    top: 14px;
    left: 20px;
  }
}
header .navbar ul {
  list-style: none;
  gap: 10px;
}
@media screen and (max-width: 1024px) {
  header .navbar ul {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 768px) {
  header .navbar ul {
    display: none;
  }
}
header .navbar ul a {
  text-decoration: none;
  color: #FFFFFF;
}
header .navbar ul a:hover {
  color: #FF8C00;
}
header .navbar ul #sign a {
  color: #FFFFFF;
}
header .navbar ul #home {
  color: #FF8C00;
}
header h1 {
  margin-top: 200px;
  font-size: 40px;
  color: #FFFFFF;
}
header h1 span {
  color: #FF8C00;
}
@media screen and (max-width: 768px) {
  header h1 {
    font-size: 32px;
  }
}
header p {
  color: #FFFFFF;
  font-weight: 300;
}
header p span {
  color: #FF8C00;
  font-weight: 600;
}
header .socil {
  margin-top: 10px;
}
header .socil a .bx {
  color: #FFFFFF;
  font-size: 24px;
}
header .socil a .bx:hover {
  color: #ffbf72;
}
header button {
  margin: 10px 0px;
  border: solid 2px #FF8C00;
  color: #FF8C00;
  background: none;
}
header button:hover {
  background: #FF8C00;
  color: #FFFFFF;
}
@media screen and (max-width: 768px) {
  header {
    padding: 0px 20px;
    height: 60vh;
  }
}

@keyframes appear {
  from {
    opacity: 0;
    scale: 0.4;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
main {
  padding-top: 50px;
  padding-bottom: 50px;
}
@media screen and (max-width: 768px) {
  main {
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media screen and (max-width: 768px) {
  main .content .promotion h1 {
    font-size: 1.3rem;
  }
}
main .content .card-pro {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 50px;
  margin-top: 30px;
}
@media screen and (max-width: 768px) {
  main .content .card-pro {
    gap: 20px;
  }
}
main .content .card-pro .cards {
  box-sizing: border-box;
}
@media screen and (max-width: 425px) {
  main .content .card-pro .cards {
    animation: none;
  }
}
main .content .card-pro .cards img {
  width: 420px;
}
@media screen and (max-width: 768px) {
  main .content .card-pro .cards img {
    width: 220px;
  }
}
@media screen and (max-width: 425px) {
  main .content .card-pro .cards img {
    width: 350px;
  }
}
main .content .card-pro .cards h1 {
  color: #001E60;
  font-size: 1.4rem;
}
@media screen and (max-width: 768px) {
  main .content .card-pro .cards h1 {
    font-size: 10px;
  }
}
@media screen and (max-width: 425px) {
  main .content .card-pro .cards h1 {
    font-size: 16px;
  }
}
main .content .card-pro .cards p {
  flex-wrap: wrap;
  color: #7F8CAB;
  font-size: 0.8rem;
}
@media screen and (max-width: 768px) {
  main .content .card-pro .cards p {
    width: 180px;
    font-size: 0.6rem;
  }
}
main .content .popular-restaurant {
  flex-wrap: wrap;
  margin-bottom: 50px;
}
main .content .popular-restaurant .text h1 {
  font-size: 24px;
  color: #001E60;
}
@media screen and (max-width: 768px) {
  main .content .popular-restaurant .text h1 {
    font-size: 20px;
  }
}
@media screen and (max-width: 425px) {
  main .content .popular-restaurant .text h1 {
    font-size: 16px;
  }
}
main .content .popular-restaurant .but {
  display: flex;
  gap: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}
@media screen and (max-width: 768px) {
  main .content .popular-restaurant .but {
    margin: 10px 0px;
  }
}
main .content .popular-restaurant .but #siem {
  background: #001E60;
  color: #FFFFFF;
}
@media screen and (max-width: 768px) {
  main .content .popular-restaurant .but #siem {
    padding: 8px 15px;
    font-size: 10px;
    border-radius: 6px;
  }
}
@media screen and (max-width: 425px) {
  main .content .popular-restaurant .but #siem {
    padding: 6px 12px;
    font-size: 8px;
  }
}
main .content .popular-restaurant .but #siem:hover {
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
main .content .popular-restaurant .but #phnom {
  background: #FFFFFF;
  font-weight: 300;
  border: solid 2px #001E60;
}
@media screen and (max-width: 768px) {
  main .content .popular-restaurant .but #phnom {
    padding: 8px 15px;
    font-size: 10px;
    border-radius: 6px;
  }
}
@media screen and (max-width: 425px) {
  main .content .popular-restaurant .but #phnom {
    padding: 6px 12px;
    font-size: 8px;
  }
}
main .content .popular-restaurant .but #phnom:hover {
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
main .content .popular-restaurant .cards-rest-all {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}
@media screen and (max-width: 425px) {
  main .content .popular-restaurant .cards-rest-all {
    gap: 10px;
  }
}
main .content .popular-restaurant .cards-rest-all .cards-rest {
  background-color: #FFFFFF;
  border-radius: 16px;
}
@media screen and (max-width: 768px) {
  main .content .popular-restaurant .cards-rest-all .cards-rest {
    width: 150px;
  }
}
@media screen and (max-width: 425px) {
  main .content .popular-restaurant .cards-rest-all .cards-rest {
    width: 170px;
    animation: none;
  }
}
main .content .popular-restaurant .cards-rest-all .cards-rest img {
  width: 310px;
}
@media screen and (max-width: 768px) {
  main .content .popular-restaurant .cards-rest-all .cards-rest img {
    width: 150px;
  }
}
@media screen and (max-width: 425px) {
  main .content .popular-restaurant .cards-rest-all .cards-rest img {
    width: 170px;
  }
}
main .content .popular-restaurant .cards-rest-all .cards-rest p {
  color: #1b1b1b;
  font-size: 20px;
  font-weight: 600;
  padding-top: 10px;
  padding-left: 20px;
}
@media screen and (max-width: 768px) {
  main .content .popular-restaurant .cards-rest-all .cards-rest p {
    font-size: 10px;
    font-weight: 500;
    padding-top: 2px;
    padding-left: 8px;
  }
}
main .content .popular-restaurant .cards-rest-all .cards-rest .stars {
  display: flex;
  align-items: center;
}
main .content .popular-restaurant .cards-rest-all .cards-rest .stars p {
  font-size: 12px;
  color: rgb(82, 82, 82);
  font-weight: 400;
}
@media screen and (max-width: 768px) {
  main .content .popular-restaurant .cards-rest-all .cards-rest .stars p {
    font-size: 8px;
  }
}
main .content .popular-restaurant .cards-rest-all .cards-rest .stars .star i {
  color: #FF8C00;
  font-size: 15px;
}
@media screen and (max-width: 768px) {
  main .content .popular-restaurant .cards-rest-all .cards-rest .stars .star i {
    font-size: 10px;
  }
}
main .content .popular-restaurant .cards-rest-all .cards-rest #address {
  flex-wrap: wrap;
  width: 280px;
  font-size: 14px;
  font-weight: 300;
  color: #7F8CAB;
  padding-bottom: 30px;
}
@media screen and (max-width: 768px) {
  main .content .popular-restaurant .cards-rest-all .cards-rest #address {
    width: 150px;
    font-size: 8px;
    padding-bottom: 10px;
  }
}
main .content .popular-restaurant .cards-rest-all .cards-rest .US {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 5px;
  padding-right: 10px;
  padding-bottom: 10px;
}
main .content .popular-restaurant .cards-rest-all .cards-rest .US p {
  font-size: 14px;
  color: gray;
  top: 40px;
  padding-top: 5px;
}
@media screen and (max-width: 768px) {
  main .content .popular-restaurant .cards-rest-all .cards-rest .US p {
    font-size: 6px;
  }
}
main .content .popular-restaurant .cards-rest-all .cards-rest .US h2 {
  color: #001E60;
}
@media screen and (max-width: 768px) {
  main .content .popular-restaurant .cards-rest-all .cards-rest .US h2 {
    font-size: 10px;
  }
}
main .content .popular-restaurant .cards-rest-all .cards-rest:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
main .partners .text {
  text-align: center;
  margin-bottom: 60px;
}
@media screen and (max-width: 768px) {
  main .partners .text {
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 425px) {
  main .partners .text {
    margin-bottom: 20px;
  }
}
main .partners .text h1 {
  font-size: 32px;
  font-weight: 800;
}
@media screen and (max-width: 768px) {
  main .partners .text h1 {
    font-size: 24px;
    font-weight: 600;
  }
}
@media screen and (max-width: 425px) {
  main .partners .text h1 {
    font-size: 20px;
    font-weight: 500;
  }
}
main .partners .all-partner {
  margin-bottom: 60px;
  gap: 24px;
  animation: scroll 10s linear infinite;
}
@media screen and (max-width: 768px) {
  main .partners .all-partner {
    margin-bottom: 30px;
  }
}
main .partners .all-partner img {
  width: 150px;
}
@media screen and (max-width: 768px) {
  main .partners .all-partner img {
    width: 120px;
  }
}
@media screen and (max-width: 425px) {
  main .partners .all-partner img {
    width: 80px;
  }
}
main .total-price {
  margin-bottom: 50px;
}
main .total-price .total-text {
  text-align: center;
  padding: 0px 0px 50px 0px;
}
@media screen and (max-width: 425px) {
  main .total-price .total-text {
    padding: 0px 0px 20px 0px;
    animation: none;
  }
}
main .total-price .total-text h1 {
  font-size: 32px;
  font-weight: 800;
}
@media screen and (max-width: 768px) {
  main .total-price .total-text h1 {
    font-size: 24px;
    font-weight: 600;
  }
}
@media screen and (max-width: 425px) {
  main .total-price .total-text h1 {
    font-size: 20px;
    font-weight: 500;
  }
}
main .total-price .price {
  flex-wrap: wrap;
  gap: 200px;
}
@media screen and (max-width: 768px) {
  main .total-price .price {
    gap: 100px;
  }
}
@media screen and (max-width: 425px) {
  main .total-price .price {
    display: block;
  }
}
main .total-price .price .price-1 {
  text-align: center;
  color: #001E60;
}
@media screen and (max-width: 425px) {
  main .total-price .price .price-1 {
    margin-bottom: 40px;
    animation: none;
  }
}
main .total-price .price .price-1 span {
  font-size: 60px;
  font-weight: 600;
}
@media screen and (max-width: 768px) {
  main .total-price .price .price-1 span {
    font-size: 32px;
  }
}
@media screen and (max-width: 425px) {
  main .total-price .price .price-1 span {
    font-size: 56px;
    font-weight: 500;
  }
}
@media screen and (max-width: 768px) {
  main .total-price .price .price-1 h1 {
    font-size: 20px;
  }
}
@media screen and (max-width: 425px) {
  main .total-price .price .price-1 h1 {
    font-size: 28px;
  }
}
main .total-price .price .price-1 .p-total {
  font-size: 14px;
  font-weight: 400;
}
@media screen and (max-width: 768px) {
  main .total-price .price .price-1 .p-total {
    font-size: 8px;
  }
}
@media screen and (max-width: 425px) {
  main .total-price .price .price-1 .p-total {
    font-size: 16px;
    color: #7F8CAB;
  }
}

footer {
  background-color: rgb(215, 215, 215);
}
footer .footer-main .footer-all {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 180px;
  padding: 20px 0px;
}
@media screen and (max-width: 768px) {
  footer .footer-main .footer-all {
    gap: 70px;
  }
}
@media screen and (max-width: 425px) {
  footer .footer-main .footer-all {
    display: block;
    padding-left: 20px;
  }
}
@media screen and (max-width: 425px) {
  footer .footer-main .footer-all .footer-contact {
    margin-bottom: 20px;
    padding-top: 20px;
  }
}
footer .footer-main .footer-all .footer-contact h2 {
  font-size: 16px;
  padding-bottom: 10px;
}
@media screen and (max-width: 425px) {
  footer .footer-main .footer-all .footer-contact h2 {
    font-size: 16px;
    padding-bottom: 5px;
  }
}
footer .footer-main .footer-all .footer-contact ul {
  list-style-type: none;
  padding-bottom: 5px;
}
footer .footer-main .footer-all .footer-contact ul li a {
  text-decoration: none;
  font-size: 12px;
  color: #7F8CAB;
}
footer .footer-main .footer-all .footer-contact .icon a i {
  font-size: 18px;
  color: #001E60;
}
@media screen and (max-width: 425px) {
  footer .footer-main .footer-all .footer-about {
    margin-bottom: 20px;
  }
}
footer .footer-main .footer-all .footer-about h2 {
  font-size: 16px;
  padding-bottom: 10px;
}
@media screen and (max-width: 425px) {
  footer .footer-main .footer-all .footer-about h2 {
    font-size: 16px;
    padding-bottom: 5px;
  }
}
footer .footer-main .footer-all .footer-about ul {
  list-style-type: none;
  padding-bottom: 5px;
}
footer .footer-main .footer-all .footer-about ul li a {
  text-decoration: none;
  font-size: 12px;
  color: #7F8CAB;
}
@media screen and (max-width: 425px) {
  footer .footer-main .footer-all .footer-contents {
    margin-bottom: 20px;
  }
}
footer .footer-main .footer-all .footer-contents h2 {
  font-size: 16px;
  padding-bottom: 10px;
}
@media screen and (max-width: 425px) {
  footer .footer-main .footer-all .footer-contents h2 {
    font-size: 16px;
    padding-bottom: 5px;
  }
}
footer .footer-main .footer-all .footer-contents ul {
  list-style-type: none;
  padding-bottom: 5px;
}
footer .footer-main .footer-all .footer-contents ul li a {
  text-decoration: none;
  font-size: 12px;
  color: #7F8CAB;
}
footer .footer-main .footer-all .peyments-partner .peyments-cards p {
  font-size: 12px;
  padding-bottom: 6px;
  color: #7F8CAB;
}
@media screen and (max-width: 425px) {
  footer .footer-main .footer-all .peyments-partner .peyments-cards p {
    color: rgb(63, 63, 63);
  }
}
footer .footer-main .footer-all .peyments-partner .peyments-cards .cards {
  width: 180px;
}
footer .footer-main .footer-all .peyments-partner .peyments-cards .cards img {
  width: 30px;
}
footer .footer-main .footer-all .peyments-partner .footer-partner p {
  font-size: 12px;
  padding: 6px 0px;
  color: #7F8CAB;
}
@media screen and (max-width: 425px) {
  footer .footer-main .footer-all .peyments-partner .footer-partner p {
    color: rgb(63, 63, 63);
  }
}
footer .footer-main .footer-all .peyments-partner .footer-partner .partners-logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
footer .footer-main .footer-all .peyments-partner .footer-partner .partners-logo img {
  width: 50px;
}
footer .footer-main .logo-footer {
  gap: 40px;
  margin: 25px 0px;
  padding: 20px 0px;
  border-top: solid 1px rgb(196, 196, 196);
  border-bottom: solid 1px rgb(196, 196, 196);
}
@media screen and (max-width: 425px) {
  footer .footer-main .logo-footer {
    gap: 20px;
    margin: 20px 0px;
    padding: 10px 0px;
  }
}
footer .footer-main .logo-footer img {
  width: 120px;
}
@media screen and (max-width: 425px) {
  footer .footer-main .logo-footer img {
    width: 60px;
  }
}
footer .footer-main .travel-destination {
  text-align: center;
  padding-bottom: 25px;
}
footer .footer-main .travel-destination p {
  font-size: 12px;
  color: rgb(93, 93, 93);
}
@media screen and (max-width: 425px) {
  footer .footer-main .travel-destination p {
    font-size: 8px;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #F2F6FF;
}/*# sourceMappingURL=styles.css.map */